@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dmlujb');
  src:  url('fonts/icomoon.eot?dmlujb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dmlujb') format('truetype'),
    url('fonts/icomoon.woff?dmlujb') format('woff'),
    url('fonts/icomoon.svg?dmlujb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai:before {
  content: "\e900";
}
.icon-jquery:before {
  content: "\e901";
}
.icon-bootstrap:before {
  content: "\e902";
}
.icon-css:before {
  content: "\e903";
}
.icon-sass:before {
  content: "\e904";
}
.icon-html:before {
  content: "\e905";
}
.icon-amit:before {
  content: "\e906";
}
